@import '~antd/dist/antd.css';
/* login page */
.login-form {
    max-width: 300px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin: 180px auto;
    padding: 35px 35px 15px;
    background: #fff;
    border: 1px solid #eaeaea;
    box-shadow: 0 0 25px #cac6c6;
}
.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}
/* register page */
.register-from{
    max-width: 600px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin: 50px auto;
    padding: 35px 35px 15px;
    background: #fff;
    border: 1px solid #eaeaea;
    box-shadow: 0 0 25px #cac6c6;
}
/* Home page */
#Home{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
#Home .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 16px;
    cursor: pointer;
    transition: color .3s;
  }
  
  #Home .trigger:hover {
    color: #108ee9;
  }
  
  #Home .logo {
    height: 32px;
    background: #333;
    border-radius: 6px;
    margin: 16px;
  }

.UserMes{
    float: right;
    height: 100%;
    margin: auto 10px;
}
.custom-image img {
    display: block;
  }
  .custom-card {
    padding: 10px 16px;
  }
  .custom-card p {
    color: #999;
  }